#container{
    height: 50px;
    width: 900px;
    border: 2px solid gray;
    display: flex;
    background-color: pink;
    border-radius: 16px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
#item{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
}
.img{
    background-image: url(IMG_3878.JPG);
    background-size: cover;
    border-radius: 16px;
}